<h1>Create a new User</h1>
 
<form action="/users" method="POST">  
  <br>
  <input type="text" name="username" placeholder="Username">
 <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Create User">
</form>