<h1> Sign Up for a new account </h1>

<form action="/signup" method="post">
<input type="text" name="username" placeholder="Username">
<br></br>
<input type="password" name="password" placeholder="Password">
<br></br>
  <input type="submit" value="Sign up">
</form>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
